appdirs==1.4.4
asgiref==3.11.0
black==25.12.0
click==8.3.1
colorama==0.4.6
Django==5.2.8
django-widget-tweaks==1.4.8
flake8==6.1.0
isort==7.0.0
mccabe==0.7.0
mypy-extensions==1.0.0
pathspec==0.11.0
Pillow==12.1.0
pycodestyle==2.11.1
pyflakes==3.1.0
pytz==2025.2
regex==2025.11.3
sqlparse==0.5.5
tomli==2.0.1
